body.dark .dark-btn {
  display: none;
}
body.dark .light-btn {
  display: block;
}
body.dark {
  background-color: #303030;
}

body.dark main > section > article:first-of-type {
  background-image: url(../image/bg-container-dark.png);

  color: #c7c7c7;
}

body.dark header > article > div:first-of-type {
  background-color: #424242;
  color: #fff;
}
body.dark main > section > article:nth-of-type(2) {
  background: #484848;
}

body.dark .tml-container::after {
  border: 4px solid #a390c2;;
}
body.dark .nav-tabs .nav-link:after {
  border-bottom: 3px solid #424242;

}

body.dark header > article > div {
  box-shadow: 0 0 10px #00000021;
}