html {
  height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Raleway, sans-serif;
}

main {
  flex: 1;
}
article {
  padding: 15px;
}
p {
  margin-bottom: 0;
}

h2 {
  color: #b990c2;
  font-size: 3rem;
  margin-bottom: 30px;
}
article > h2 {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

body .dark-btn {
  display: block;
}
body .light-btn {
  display: none;
}


.navbar {
  background-color: #ffffff;
  box-shadow: 0px 4px 14px #0000001a;
}
.dark-btn img,
.light-btn img {
  width: 37px;
}
.dark-btn, .light-btn {
  background: none;
  border: none;
  order: 99;
}


/* Carte information personnelles */
header > article {
  text-align: center;
  padding: 90px 0;
  position: relative;
}

header > article::before {
  content: "";
  width: 100%;
  height: 600px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../image/bg.jpg");
  z-index: -1;
  background-size: cover;
}

/* Photo de profil  */
header > article > div > div > img {
  text-align: center;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

header > article > div {
  width: 90%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #7b7b7b21;
  max-width: 400px;
  background-color: white;
}

/* Div qui contient le texte de ma carte personnelle */
header > article > div div:nth-of-type(2) {
  padding: 42px 30px;
  text-align: left;
  margin: auto;
}

header > article > div div:nth-of-type(2) h1 {
  font-weight: bold;
  color: #b990c2;
}

header > article > div div:nth-of-type(2) h4 {
  color: #a5a5a5;
  font-size: 1.4rem;
  border-bottom: 1px solid #ececec;
  padding: 15px 0;
  font-weight: 300;
}

header > article > div div:nth-of-type(2) p {
  padding: 15px 0;
}
/* Les logos à gauche des informations dans les p */
header > article > div div:nth-of-type(2) p > img {
  width: 30px;
  margin-right: 10px;
  float: left;
}

.reseaux {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.reseaux img {
  filter: opacity(0.5);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  width: 35px;
  margin: 0 15px;
}

.reseaux img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Article à propos */
main > section > article:first-of-type {
  background-image: url(../image/bg-container.png);
  background-size: cover;
  line-height: 1.9em;
  padding: 60px 10%;
  color: #757575;
  text-align: center;
}

/* Logo pdf dans le <a> */
main > section > article:first-of-type img {
  width: 35px;
}

/* Lien pour consulter le CV*/
main > section > article:first-of-type a {
  background-image: linear-gradient(135deg, #4f5dff 0%, #7b4a96 100%);
  padding: 8px;
  border-radius: 31px;
  color: white;
  display: block;
  border: none;
  margin: 15px auto;
  width: 204px;
}

main > section > article:first-of-type a:hover {
  background-image: linear-gradient(135deg, #262d79 0%, #412750 100%);
  text-decoration: none;
  box-shadow: 0 0 7px #00000099;
}

/* Article Formations */
main > section > article:nth-of-type(2) {
  background: #f5f6fa;
  padding: 60px 19px;
}

.tml-content h2 {
  color: white;
  text-shadow: 0 0 4px #00000038;
}
main > section > article:nth-of-type(2) h4 {
  font-size: 1.2em;
  color: #feffd8;
  margin-bottom: 20px;
}
.tml-content h3 {
  color: white;
  text-shadow: 0 0 10px #444444a6;
}

/* Article competences  */
main > section > article:nth-of-type(3) {
  background: #7168dc;
  padding: 55px 0;
}
main > section > article:nth-of-type(3) > h2 {
  color: white;
}
main > section > article:nth-of-type(3) > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main > section > article:nth-of-type(3) > div img {
  height: 90px;
  align-self: center;
  margin: 5px 11px;
}

/* Article projets réalisés  */
main > section > article:nth-of-type(4) {
  /* background: linear-gradient(0deg, rgba(144,103,166,1) 3%, rgba(255,250,146,0.41220238095238093) 37%, rgba(135,107,164,1) 75%); */
  padding: 76px 10px;
  color: white;
}
main > section > article:nth-of-type(4) > div:first-of-type {
  max-width: 1300px;
  margin: auto;
}

.github {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 40px;
}

.techno {
  font-weight: bold;
  color: #fff0a2;
  margin-top: 20px;
}

.projectpic {
  max-width: 45%;
  text-align: center;
  margin: 15px 15px 0 15px;
  box-shadow: 0px 0px 5px 1px #0006;
  min-width: 250px;
}
.lightbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#lightbox {
  position: fixed;
  /* La lightbox apparaît avant la fermeture de la balise <body> ce qui facilite son positionnement */
  z-index: 999;
  /* Mettez une valeur supérieur à celle du contenu, de sorte que la lightbox soit toujours au dessus */
  /* Permet de faire apparaître la lightbox à partir des coordonnées (0;0) */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#lightbox img {
  position: absolute;
  /* Permet d'afficher l'image au centre de l'écran */
  z-index: 998;
  top: 50%;
  /* Centrage vertical */
  left: 50%;
  /* Centrage horizontal */
  transform: translate(-50%, -50%);
  padding: 10px;
  /* Création de fonds perdus pour éviter que l'image ne touche directement les bords du cadre */
  /* Création de marges pour éviter que l'image ne prenne tout l'écran */
  max-width: 95%;
  max-height: 95%;
  background: rgb(255, 255, 255);
  /* Mise en place d'un fond au cas où l'image soit en transparence */
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 16px;
}

.nav-tabs {
  border: none;
  background-color: #ffffff00;
  justify-content: center;
}

.nav-tabs .nav-item .nav-link.active {
  color: #7168dc;
  background: none;
  font-weight: bold;
}

.nav-tabs .nav-link {
  border: none;
  margin: 10px;
}

.nav-tabs .nav-link {
  color: #b990c2;
  font-weight: 300;
  font-size: 1.2em;
}

.nav-tabs .nav-link:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 0%;
  /* Change this to whatever width you want to have before hover. */
  padding-top: 10px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid rgb(240, 240, 240);
  /* This creates the border. Replace black with whatever color you want. */
  transition: 0.5s;
  /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.nav-tabs .nav-link:hover:after {
  width: 100%;
  /* This will be the new width of your border when on hover */
}
.tab-content {
  background: #7168dc;
  padding: 25px;
  border-radius: 20px;
}
.tab-pane > h4 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}

footer {
  background-color: #7168dc;
  padding: 10px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 992px) {
  header > article > div:first-of-type {
    display: flex;
    max-width: 1120px;
  }
  header > article > div > div:first-of-type {
    flex-basis: 40%;
  }

  header > article::before {
    height: 430px;
  }
}
